* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f3d66c;
}
.layoutGrid {
  display: grid;
  grid-template-columns: 7% 93%;
}
.layoutSidebar {
  grid-column: 1/2;
  height: 90vh;
  padding: 10px 10px;

  display: flex;
}
.layoutview {
  grid-column: 2/3;
}

.view_container {
  grid-column: 2/3;

  height: 92vh;
  background-color: white;
  border: none;
  border-radius: 30px 0 0 30px;
  padding: 2%;
}

.list {
  font-weight: bold;
  grid-column: 1/3;
}
.user {
  text-align: center;
  grid-column: 2/3;
}
.status {
  text-align: right;
  padding-left: 5px;
}
